.pointer {
    cursor: pointer;
}
.smallerfont {
    font-size: 14px;
}
span #data table tbody {
    font-size: 13px;  
    line-height: 1.2; 
    padding: 5px;
}
#table_info {
    color: #99bfe6;
    cursor: pointer;
    font-size: 14px;
}
